.App {
  min-height: 100vh;
  overflow: hidden;
}

.public-page-wrapper {
  display: flex;
  justify-content: center;
}

.public-page {
  margin-top: 50px;
  width: 40rem;
}

@media (max-width: 25rem) {
  .public-page {
    margin-top: 30px;
  }
}
